.header{
    background-color: rgb(241, 202, 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header_logo{
    color: rgb(54, 0, 105);
    text-decoration: none;
    letter-spacing: 2px;

}

.header_nav_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
}

.header_item_link{
    color:  rgb(54, 0, 105);
    text-decoration: none;
    letter-spacing: 2px;
}

.header_item_link:hover{
    color:  rgb(128, 0, 248);
    border-bottom: solid 2px  rgb(54, 0, 105);
}

.header_item_link--is--active{
    color:  rgb(128, 0, 248);
    border-bottom: solid 2px  rgb(54, 0, 105);
}
